
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1em solid #ccc;
}

.button_tab{
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
